body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#title {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
}

#t1{
    font-size: 24px;
}

#t2{
    font-size: 18px;
}

#t1 p, #t2 p{
    margin: 0;
    margin-bottom: 5px;
}

section {
    text-align: center;
    margin-bottom: 10px;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

pre {
    text-align: left; /* Вирівнювання тексту по лівому краю для елементу <code> */
    border: 2px solid #333;
    padding: 10px;
}

com{
    color: red;
}

img{
    border: 2px solid #333;
    padding: 5px;
}

#conclusion{
    text-align: left;
    max-width: 900px;
    padding-bottom: 20px;
}